@font-face{
    font-family: 'sansBold';
    src: url('fonts/sansserif/_sansserifbldflf-webfont.woff') format('woff');
    src: url('fonts/sansserif/_sansserifbldflf-webfont.woff2') format('woff2');
}
@font-face{
    font-family: 'sansBook';
    src: url('fonts/sansserif/_sansserifbookflf-webfont.woff') format('woff');
    src: url('fonts/sansserif/_sansserifbookflf-webfont.woff2') format('woff2');
}
@font-face{
    font-family: 'sansDemiBold';
    src: url('fonts/sansserif/_sansserifflf-demibold-webfont.woff') format('woff');
    src: url('fonts/sansserif/_sansserifflf-demibold-webfont.woff2') format('woff2');
}

@font-face{
    font-family: 'tenorSans';
    src: url('fonts/tenorsans/tenorsans-regular-webfont.woff') format('woff');
    src: url('fonts/tenorsans/tenorsans-regular-webfont.woff2') format('woff2');
}

:root{
    --myteal: #33a2b3;
    --primary: var(--myteal);
}

*{
    font-size: 100%;
}

body{
    margin: 0;
}

@media screen and (min-width: 50em){
    .head{
        background-color: var(--myteal);
    }

}


.nav{
    font-family: tenorSans;
}

.body_head{
    font-family: tenorSans;
}
.body_txt{
    font-family: sansBook;
}

.footer_head{
    font-family: tenorSans;
}

.footer_txt{
    font-family: sansBook;
}

.tile{
    font-family: tenorSans;
}
.tile p {
    font-family: sansBook;
}