@font-face{
    font-family: 'sansBold';
    src: url('fonts/sansserif/_sansserifbldflf-webfont.woff') format('woff');
    src: url('fonts/sansserif/_sansserifbldflf-webfont.woff2') format('woff2');
}
@font-face{
    font-family: 'sansBook';
    src: url('fonts/sansserif/_sansserifbookflf-webfont.woff') format('woff');
    src: url('fonts/sansserif/_sansserifbookflf-webfont.woff2') format('woff2');
}
@font-face{
    font-family: 'sansDemiBold';
    src: url('fonts/sansserif/_sansserifflf-demibold-webfont.woff') format('woff');
    src: url('fonts/sansserif/_sansserifflf-demibold-webfont.woff2') format('woff2');
}

@font-face{
    font-family: 'tenorSans';
    src: url('fonts/tenorsans/tenorsans-regular-webfont.woff') format('woff');
    src: url('fonts/tenorsans/tenorsans-regular-webfont.woff2') format('woff2');
}


/*Move nav specs to small @MEDIA, adjust for tablet**/


:root{
    --myteal: #33a2b3;
    --primary: var(--myteal);
    
    --linkpurple: #621da1;
    --primary: var(--linkpurple);
}

*{
    font-size: 100%;
    box-sizing: border-box;
}

body{
    margin: 0;
}
.nav{
    font-family: tenorSans;
}
.body_head{
    font-family: tenorSans;
    margin: 1.5rem auto;
    color: var(--myteal);
    font-size: 2rem;
    max-width: 85%;
}
.body_txt{
    font-family: sansBook;
    font-size: 1.15rem;
    line-height: 2rem;
    margin: 1.5rem auto;
    max-width: 85%;
}
.footer_head{
    font-family: tenorSans;
    margin: 1.5rem;
}
.footer_txt{
    font-family: sansBook;
    margin: 1.5rem;
}
.tile{
    font-family: tenorSans;
    margin: 1.5rem;
    max-width: 350px;
    align-content: space-around;
}
.tile p {
    width: 325px;
    font-family: sansBook;
    margin: 1.5rem auto;
    line-height: 2rem;
}
.tile header{
    margin: 1rem auto 1.5rem;
    width: 325px;
}
.head_logo img{
    max-width: 85%;
}



@media screen and (min-width: 500px){
    .head_logo img{
        max-width: 430px;
    }
}



@media screen and (min-width: 650px){
    .all_tiles{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        align-items: space-around;
    }
    .tile{
        margin: 1rem auto;
    }

}



@media screen and (max-width: 799.9px){
    .large, .img{
        display: none;
    }
    .small{
        max-width: 85%;
        
    }
    .head_logo{
        text-align: center;
        margin: 2rem auto 0;
    }
    .nav{
        font-size: 1.2em;
        text-align: center;
        padding: 5% 0 .5rem 0;
        margin: 0 7.5%;

        border: var(--linkpurple);
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        
        display: flex;
        justify-content: space-around;
    }
    :link{
        text-decoration: none;
    }
    .tile{
        margin: 3rem auto;
    }
}



@media screen and (min-width: 800px){
   
    .head{
        background-color: var(--myteal);
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    .head img{
        max-width: 100%;
        grid-area: 2/1/3/3;
        justify-self: end;
        align-self: end;
    }
    img.small{
        display: none;
    }

    .head_logo{
        margin: 0 auto;
        width: 350px;
    }

    .top{
        display: grid;
        grid-template-columns: 3/5fr 2/5fr;
        grid-template-areas: 'img nav';
        justify-items: center;
        align-items: center;
        padding: 2rem 0 1rem;
        margin: 0 0 2.5rem;
        background-color: var(--myteal);
    }
    :link{
        text-decoration: none;
    }
    .nav{
        margin: 0 3.3rem 0 5rem;
    }
    .nav a{
        padding: 0 1rem;
        font-size: 1.25rem;
    }
    .nav a:first-child{
        border: var(--linkpurple);
        border-style: solid;
        border-width: 0px 1.5px 0px 0px;
    }

}



@media screen and (min-width: 1050px){
    .all_tiles{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;    
        margin: auto;
        max-width: 1100px;
        justify-items: center;
    }
}