@font-face{
    font-family: 'sansBold';
    src: url('fonts/sansserif/_sansserifbldflf-webfont.woff') format('woff');
    src: url('fonts/sansserif/_sansserifbldflf-webfont.woff2') format('woff2');
}
@font-face{
    font-family: 'sansBook';
    src: url('fonts/sansserif/_sansserifbookflf-webfont.woff') format('woff');
    src: url('fonts/sansserif/_sansserifbookflf-webfont.woff2') format('woff2');
}
@font-face{
    font-family: 'sansDemiBold';
    src: url('fonts/sansserif/_sansserifflf-demibold-webfont.woff') format('woff');
    src: url('fonts/sansserif/_sansserifflf-demibold-webfont.woff2') format('woff2');
}

@font-face{
    font-family: 'tenorSans';
    src: url('fonts/tenorsans/tenorsans-regular-webfont.woff') format('woff');
    src: url('fonts/tenorsans/tenorsans-regular-webfont.woff2') format('woff2');
}


/*Move nav specs to small @MEDIA, adjust for tablet**/


:root{
    --myteal: #33a2b3;
    --primary: var(--myteal);
    
    --linkpurple: #621da1;
    --primary: var(--linkpurple);
}

*{
    font-size: 100%;
    box-sizing: border-box;
}

body{
    margin: 0;
}
.nav{
    font-family: tenorSans, Arial, Helvetica, sans-serif;
}
.body_head{
    font-family: tenorSans, Arial, Helvetica, sans-serif;
    margin: 3rem auto 1.5rem;
    color: var(--myteal);
    font-size: 2rem;
    max-width: 85%;
}
.body_txt{
    font-family: sansBook, Arial, Helvetica, sans-serif;
    font-size: 1.15rem;
    line-height: 2rem;
    margin: 1.5rem auto;
    max-width: 85%;
}
.body_txt:last-child{
    margin: 1.5rem auto 3rem;
}
.footer_head{
    font-family: tenorSans, Arial, Helvetica, sans-serif;
    margin: 1.5rem auto;
    max-width: 85%;
    font-size: 1.25rem
}
.footer_head:first-child{
    margin: 1.5rem auto 3rem;
}
.footer_txt{
    font-family: sansBook, Arial, Helvetica, sans-serif;
    margin: 1.5rem auto;
    max-width: 85%;
}
.tile{
    font-family: tenorSans, Arial, Helvetica, sans-serif;
    margin: 1.5rem auto;
    max-width: 350px;
    align-content: space-around;
}
.tile p {
    width: 325px;
    font-family: sansBook, Arial, Helvetica, sans-serif;
    margin: 1.5rem auto;
    line-height: 2rem;
}
.tile header{
    margin: 1rem auto 1.5rem;
    width: 325px;
    font-size: 1.15rem;
}
.head_logo img{
    max-width: 85%;
}

.pop-up{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    background: rgba(255, 255, 255, 0.9);

    height: 100%;
    width: 100%;
}
.pop-up_box{
    opacity: 100%;
    max-width: 70%;

    margin: auto;
    position: absolute;
    top: 10%;
    left: 17.5%;
    right: 17.5%;
}
.pop-up_box img{
    max-width: 90%;
}

@media screen and (max-width: 350px){
   body{ max-width: 100%;}
   .pop-up_box{
    top: 30%;
    max-width: 100%;
    left: 0%;
    right: 0%;
}
}
@media screen and (max-width: 500px){
    .pop-up_box{
        max-width: 100%;
        left: 0%;
        right: 0%;
        top: 30%
    }
}


@media screen and (min-width: 500px){
    .head_logo {
        max-width: 100%;
    }
    .pop-up_box{
        max-width: 100%;
        left: 0%;
        right: 0%;
        top: 30%
    }
}



@media screen and (min-width: 760px){
    .all_tiles{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        align-items: space-around;
    }
    .tile{
        margin: 1rem auto;
        height: 560px;
    }

}



@media screen and (max-width: 799.9px){
    .large, .img, .portrait{
        display: none;
    }
    .small{
        max-width: 85%;   
    }
    .head_logo{
        text-align: center;
        margin: 2rem auto 0;
    }
    .head_logo img{
        width: 400px;
    }
    .nav{
        font-size: 1.2em;
        text-align: center;
        padding: 5% 0 .5rem 0;
        margin: 0 7.5%;

        border: var(--linkpurple);
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        
        display: flex;
        justify-content: space-around;
    }
    :link{
        text-decoration: none;
    }
    .tile{
        margin: 3rem auto;
    }
    .pop-up_box{
        top: 15%
    }
}



@media screen and (min-width: 800px){
   
    .head{
        width: 100%;
        background-color: var(--myteal);
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    .head img{
        max-width: 100%;
    }
    .portrait{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: end;

    }
    img.small{
        display: none;
    }

    .head_logo{
        width: 350px;
        justify-self: center;
    }

    .top{
        display: grid;
        grid-template-columns: 3/5fr 2/5fr;
        grid-template-areas: 'img nav';
        justify-items: center;
        align-items: center;
        padding: 2rem 0 1rem;
        margin: 0 0 2.5rem;
        background-color: var(--myteal);
    }
    :link{
        text-decoration: none;
    }
    .nav{
        justify-self: center;
    }
    .nav a{
        padding: 0 1rem;
        font-size: 1.25rem;
    }
    .nav a:first-child{
        border: var(--linkpurple);
        border-style: solid;
        border-width: 0px 1.5px 0px 0px;
    }
    .tile{
        margin: auto;
    }
    .pop-up_box{
        top: 15%
    }
}
@media screen and (min-width: 1000px){
    .nav{
        font-size: 2rem;
    }
    .footer_head, .footer_txt, .body_txt{
        font-size: 1.25rem;
        max-width: 70%;
    }
    .body_head{
        font-size: 2rem;
        max-width: 70%;
    }
    .pop-up_box img{
        max-height: 80%;
        top: 3%;
    }
}

@media screen and (min-width: 1130px){
    .all_tiles{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;    
        margin: auto;
        max-width: 1100px;
        justify-items: center;
        height: 560px;

    }
}